@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}
body p {
  font-size: 16px;
  font-family: "Lato", sans-serif;
}
body h1 {
  font-size: 49px;
  font-family: "Roboto", sans-serif;
}
body h2 {
  font-size: 39px;
  font-family: "Roboto", sans-serif;
}
body h3 {
  font-size: 31px;
  font-family: "Roboto", sans-serif;
}
body h4 {
  font-size: 25px;
  font-family: "Roboto", sans-serif;
}
body h5 {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}
body h6 {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

:root {
  --primary: #6918b4;
  --secondary: #c210ad;
  --tertiary: #1014c2;
  --black: #0b0212;
  --black-75: rgba(11, 2, 18, 0.75);
  --black-50: rgba(11, 2, 18, 0.5);
  --black-25: rgba(11, 2, 18, 0.25);
  --black-10: rgba(11, 2, 18, 0.1);
  --black-5: rgba(11, 2, 18, 0.05);
  --white: #f0e8f7;
  --white-75: rgba(240, 232, 247, 0.75);
  --white-50: rgba(240, 232, 247, 0.5);
  --white-25: rgba(240, 232, 247, 0.25);
  --white-10: rgba(240, 232, 247, 0.1);
  --white-5: rgba(240, 232, 247, 0.05);
  --error: #a70000;
}

.hero {
  height: 100vh;
  width: 100vw;
}
.hero .hero--navbar {
  height: 100px;
  width: 100vw;
  background-color: white;
  position: relative;
  padding: 12px 64px;
  border-bottom: 1px solid var(--black-25);
}
.hero .hero--navbar .hero--navbar--navigations {
  display: flex;
  align-items: center;
  position: absolute;
  gap: 16px;
}
.hero .hero--navbar .hero--navbar--navigations a {
  text-decoration: none;
  color: var(--black);
  transition: all 0.25s ease-in-out;
}
.hero .hero--navbar .hero--navbar--navigations a:hover {
  scale: 1.1;
}
.hero .hero--navbar .hero--navbar--socials {
  display: flex;
  position: absolute;
  right: 64px;
  top: 50%;
  transform: translateY(-50%);
  gap: 32px;
}
.hero .hero--navbar .hero--navbar--socials a {
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}
.hero .hero--navbar .hero--navbar--socials a:hover {
  scale: 1.2;
}
.hero .call-to-action {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.hero .call-to-action h1 {
  font-size: 64px;
  width: 160px;
}
.hero .call-to-action h2 {
  width: 496px;
  color: var(--black-75);
}
.hero .call-to-action button {
  background-color: var(--primary);
  color: var(--white);
  border-radius: 8px;
  border-style: none;
  padding: 16px 24px;
  font-size: 36px;
  font-weight: bold;
  width: -moz-max-content;
  width: max-content;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}
.hero .call-to-action button:hover {
  background-color: var(--secondary);
  scale: 1.1;
}
.hero .hero--content {
  padding: 128px 64px 0 64px;
  display: flex;
  justify-content: space-between;
}

.sponsor {
  height: 100vh;
  width: 100vw;
  position: relative;
}
.sponsor .sponsor-sponsors-container {
  background: linear-gradient(var(--primary), var(--secondary));
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 0;
  gap: 24px;
}
.sponsor .sponsor-sponsors-container h6 {
  color: var(--white);
}
.sponsor .sponsor-sponsors-container .sponsor-sponsors {
  display: flex;
  gap: 48px;
  margin-bottom: 16px;
}
.sponsor .testimony-container {
  display: flex;
  gap: 64px;
  justify-content: center;
  margin: 32px 0;
  flex-wrap: wrap;
}
.sponsor .sponsor-wave {
  position: absolute;
  bottom: 0;
  width: 100vw;
}

.progli-container {
  background: linear-gradient(var(--secondary), var(--tertiary));
  padding: 28px;
}
.progli-container .proglis {
  position: relative;
}
.progli-container .proglis .progli-wide-image {
  width: 100%;
  height: 168px;
  position: absolute;
  z-index: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.progli-container .proglis .progli-profile-text {
  padding-top: 48px;
  padding-left: 16px;
  display: flex;
}
.progli-container .proglis .progli-profile-text .progli-profile {
  min-width: 248px;
  min-height: 248px;
  width: 248px;
  height: 248px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
  z-index: 2;
}
.progli-container .proglis .progli-profile-text .progli-text {
  z-index: 2;
  margin-top: 126px;
  margin-left: 4px;
}
.progli-container .proglis .progli-profile-text .progli-text h6 {
  color: var(--white);
}
.progli-container .proglis .progli-profile-text .progli-text p {
  margin-top: 4px;
  color: var(--white-75);
}
.progli-container .proglis:not(:first-child) {
  margin-top: 32px;
}/*# sourceMappingURL=style.css.map */